html {
  height: 100%;
}
body {
  margin: 0;
  background-image: url("./assets/skachat-oboi-kosmos-4k-besplatno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 40px 40px 40px;
  margin: 10% 10% 0 10%;
}

#list {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;

}

#list > button {
  margin: 4px;
  background: radial-gradient(rgba(226, 254, 255, .8), rgba(0, 117, 206, .6));
  border: 0;
  border-radius: 4px;
  outline: none;
}

#list > button:focus {
  box-shadow: 0 0 4px 1px rgba(0, 117, 206, 1);
}

#list > button:hover {
  box-shadow: 0 0 4px 2px rgba(0, 117, 206, 1);
  outline: none;
}

.score-wrapper {
  text-align: center;
}

.score {
  padding-top: 40px;
  cursor: default;
}

th,
td {
  border: 0;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(226, 254, 255, .8);
  min-width: 30px;
  text-align: left;
  font-size: 1.5em;
  border-radius: 4px;
}

.start__btn {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(226, 254, 255, .8);
  border: 0;
  border-radius: 4px;
  outline: none;
}

.start__btn:focus {
  box-shadow: 0 0 3px 1px blueviolet;
}

.start__btn:hover {
  box-shadow: 0 0 4px 2px blueviolet;
}

.start__btn:active {
  background-color: rgba(138, 43, 226, 0.6);
}

.icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.btn__img {
  color: rgba(226, 254, 255, 0.7);
}

.btn__light {
  color: rgba(239, 2, 2, 0.6);
}
